.Container{
    width: 160vh;
    height: 90vh;
    margin: 50px 100px 50px 350px ;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    border-radius: 8px;
}

.Title{
    padding: 45px;
    margin-left: -1200px;
    font-weight: bold;
    font-size: 30px;
}





